Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
data_hw1 = pd.read_csv('C:\\Users\\yusuper\\Documents\\GitHub\\pyda5_netology\\ratings.csv')
data_hw1.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
data_sorted = data_hw1.sort_values(by=['rating','movieId'], ascending=[False, False])
data_sorted = data_sorted.query('rating == 5')['movieId'].value_counts()
data_sorted.head(1)

318    153
Name: movieId, dtype: int64

Задание 2 По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [4]:
data_hw2= pd.read_csv('C:\\Users\\yusuper\\Documents\\GitHub\\pyda5_netology\\power.csv')
data_hw2.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [7]:
baltic_countries = data_hw2[ (data_hw2['country']=='Lithuania') | (data_hw2['country']=='Estonia') | 
                           (data_hw2['country']=='Latvia')]
baltic_countries = baltic_countries[ (baltic_countries['category']== 4) | (baltic_countries['category']== 12) 
                                    | (baltic_countries['category']== 21 )]
baltic_countries = baltic_countries[ baltic_countries.year >= 2005]
baltic_countries = baltic_countries[ baltic_countries.year <= 2010]
baltic_countries.query('quantity > 0')['quantity'].sum() 
#isin: data['country'].isin(['Latvia', 'Estonia', 'Lithuania'])

240580.0

Задание 3 Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe. Примеры страниц (необязательно брать именно эти): https://fortrader.org/quotes

In [14]:
pd.read_html('https://fortrader.org/quotes')[1]

                                    Type          Last     Chg.  Chg.%  Time
0                      ВТБ Акции ОАО ВТБ       0.04207  0.00000   0.00   NaN
1                 Газпром Акции газпрома     230.20000     0.00   0.00   NaN
2                    Лукоил Акции Лукойл    5405.00000      0.0   0.00   NaN
3                Роснефть Акции Роснефти     426.80000     0.00   0.00   NaN
4               Сбербанк Акции Сбербанка     231.07000     0.00   0.00   NaN
5   Сургутнефтегаз Акции Сургутнефтегаза      35.40500    0.000   0.00   NaN
6              Норникель Акции Норникель   16056.00000        0   0.00   NaN
7               Аэрофлот Акции Аерофлота     102.40000    +5.59   5.77   NaN
8            Северсталь Акции Северсталь     960.00000     -2.6  -0.30   NaN
9            Транснефть Акции транснефти  150000.00000  -16 300 -10.00   NaN
10     Ростелеком Курс акций ростелекома      78.62000    +5.79   7.95   NaN
11                     RUSAL акции RUSAL       3.43000    -0.02  -0.58   NaN